.dark-mode{
    background-color: black;
    color: white !important;
}
.light-mode{
    background-color: white;
    color: black !important;
}
.text-color-d{
  color: white;
}
.text-color-l{
  color: black;
}
.a-style:visited{
    text-decoration: none;
}
.a-style{
    text-decoration: none;
    color:black;
}
.a-style-dark{
    text-decoration: none;
    color: white;
}
th#Icon{
    text-align: left;
}
th.navbar-right-align{
    text-align: right;
}
.form-group{
    margin-bottom: 10px;
}
#starNameDiv{
    margin-bottom: 75px;
}
.divOffSet{
    margin-left: 15px;
}
#slider {
    -webkit-appearance: none;
    position: relative;
    width: 50px;
    height: 30px;
    border-radius: 25px;
    background-color: #ccc;
    transition: background .3s;
    outline: none;
    cursor: pointer;
}
#slider::after{
    content: '';
    position: absolute;
    top:50%;
    left: 30%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 1.25rem;
    width: 1.25rem;
    background-color: white;
    transition: left .3s;
}
#slider:checked{
    background-color: darkblue;
}
#slider:checked::after{
    left:70%;
}
table.star, tr.star, td.star {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    vertical-align: top;
  }
  ul.autofill{
    list-style: none;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    margin-bottom: 10px;
}
.autofill{
    width: 100%;
    background-color: white;
  }
.list-items{
    padding: 0px;
  }
.list-items:hover{
    background-color: grey;
  }
  .autofill li:nth-of-type(1n+5){
    display: none;
  }
  
  .login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 50vh;
    border-radius: 10px;
    background-position: center;
  }
  .login-input{
    text-align: left;
    margin-bottom: 10px;
    width: 100%;
  }
  .login-input-field{
    width: 100%;
    height: 40px;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    transition:all 1.5s ease;
    border: none;
    border-bottom: 3px solid grey;
  }
  .login-input-field:focus{
    outline: none;
    border-bottom: 3px solid rgb(10, 245, 10);
  }
  .login-button-div{
    margin-top: 30px;
  }
  .login-button{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: deepskyblue;
  }
  .login-button:hover{
    cursor: pointer;
  }
  .login-title{
    text-align: center;
    line-height: 1.2;
    font-size: 39;
    display: block;
    margin-bottom: 30px;
  }
  .const{
    color: black;
  }

  .calculate-button{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: deepskyblue;
    cursor: pointer;
  }

  .calculate-button const{
    width: 100%;
    height: 40px;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    transition:all 1.5s ease;
    border: none;
    border-bottom: 3px solid grey;
  }


  .index-input-field{
    width: 100%;
    height: 40px;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    transition:all 1.5s ease;
    border: none;
    border-bottom: 3px solid grey;
  }

  .index-input-field:focus{
    outline: none;
    border-bottom: 3px solid rgb(10, 245, 10);
  }
  .admin-container{
    width: 100%;
  }
  .admin-star-align{
    display: block;
    margin : 0 auto;
    margin-bottom: 20px;
  }
  .admin-description{
    height: 75px;
    width: 300px;
    text-align: left;
  }
  .custom-star-input{
    display: flex; 
    justify-content: space-between;
  }
  .custom-star-margin{
    margin-bottom: 20px;
  }